<ion-content>
  <ion-slides *ngIf="didInit" class="ion-slides" pager="true" [options]="slideOpts" (ionSlideWillChange)="onChangeSlide($event)">
    <ion-slide class="slide" *ngIf="settings.home.moduleRequestTest" >
      <h2 class="slide__title" i18n="@@introSlideTogether">Luchemos juntos<br>contra el <strong class="slide__title-strong">COVID-19</strong></h2>
      <div class="slide__image-container">
        <img class="slide__image" src="/assets/icons/svg/icon-test-bg.svg">
      </div>
      <p class="slide__text" i18n="@@introSlideTest">Con esta APP podrás <br><strong>solicitar un test de COVID-19</strong><br>y según su resultado poder<br>salir de casa</p>
    </ion-slide>
    <ion-slide class="slide">
      <h2 class="slide__title" i18n="@@introSlideTogether">Luchemos juntos<br>contra el <strong class="slide__title-strong">COVID-19</strong></h2>
      <div class="slide__image-container">
        <img class="slide__image" src="/assets/icons/svg/icon-ble-bg.svg">
      </div>
      <p class="slide__text" i18n="@@introSlideTest"><strong>Protege a los tuyos</strong><br>Te avisamos si has estado expuesto al COVID-19</p>
    </ion-slide>
    <ion-slide class="slide">
      <h2 class="slide__title" i18n="@@introSlideTogether">Luchemos juntos<br>contra el <strong class="slide__title-strong">COVID-19</strong></h2>
      <div class="slide__image-container">
        <img class="slide__image" src="/assets/icons/svg/icon-autotest-bg.svg">
      </div>
      <p class="slide__text" i18n="@@introSlideHealth"><strong>Evalúa tu situación de salud</strong> <br>en función de tus síntomas</p>
    </ion-slide>
    <ion-slide class="slide">
      <h2 class="slide__title" i18n="@@introSlideTogether">Luchemos juntos<br>contra el <strong class="slide__title-strong">COVID-19</strong></h2>
      <div class="slide__image-container">
        <img class="slide__image" src="/assets/icons/svg/icon-seguimiento-bg.svg">
      </div>
      <p class="slide__text" i18n="@@introSlideFollos"><strong>Haz seguimiento de tu estado</strong> <br>de salud y evalúate <br>cada cierto tiempo</p>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="footer-app" >
    <p class="footer-app__text" i18n="@@ageFootNote">Para utilizar esta aplicación debes ser mayor de edad</p>
    <button class="btn" *ngIf="!lastSlide" (click)="goContinue()" i18n="@@next">
      SIGUIENTE
      <ion-icon size="small" name="chevron-forward-outline"></ion-icon>
    </button>
    <button class="btn" *ngIf="lastSlide" (click)="goContinue()" i18n="@@enter">EMPEZAR</button>
  </ion-toolbar>
</ion-footer>