.ion-slides{
  min-height: 100%;
  display: flex;
  align-items: center;
}
.slide{
  display: flex;
  align-items: center;
  flex-direction: column;
  &__title{
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin: 24px 0 40px 0;

    @media (min-width: 321px) {
      font-size: 28px;
      line-height: 30px;
    }    

    &-strong{
      color:#c80f2e;
    }
  }
  &__image-container{
    text-align: center;
    margin: 0 0 36px 0;
  }  
  img{
    width: 70%;
    max-width: 400px;
    @media (min-width: 321px) {
      width: 90%;
    }
  }
  &__text{
    font-size: 22px;
    line-height: 24px;
    text-align: center;    
    font-weight: 300;
    margin: 0;
    padding: 0 0 36px 0;

    @media (min-width: 321px) {
      font-size: 26px;
      line-height: 28px;
    }    

    strong{
      font-weight: 600;
    }
  }
}
.footer-app__text{
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  font-weight: 300;
  margin: 0;
  @media (min-width: 321px) {
    font-size: 14px;
  }

}