.slide{
  display: block;
  padding: 24px 0;
  &__title{
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin: 0 0 56px 0;

    &-strong{
      color:#c80f2e;
    }
  }
  &__image-container{
    text-align: center;
    margin: 0 0 48px 0;
  }  
  img{
    width: 50%;
    max-width: 300px;
  }
  &__text{
    font-size: 20px;
    line-height: 24px;
    text-align: center;    
    font-weight: 300;
    margin: 0 0 48px 0;
    strong{
      font-weight: 700;
    }
  }
}
.footer-app__text{
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  font-weight: 300;
  margin: 0;
}