<ion-content>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <h1>Slide 1</h1>
        </ion-slide>
        <ion-slide>
          <h1>Slide 2</h1>
        </ion-slide>
        <ion-slide>
          <h1>Slide 3</h1>
        </ion-slide>
      </ion-slides>
</ion-content>
<div class="footer-buttons-container">
    <div class="footer-labels-container" i18n="@@introductionTip">Informate, avisa y si te encuentras mal pide que te hagan el test del coronavirus</div>
    <ion-button color="dark" (click)="goToRegister()" expand="block" i18n="@@enter">ENTRAR</ion-button>
</div>
