<ion-header translucent>
    <ion-toolbar class="modal-header">
      <ion-buttons slot="end">
        <ion-icon size="large" (click)="backToHome()" name="close"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="modal-text" fullscreen>
    <h1 i18n="@@requestLeaveHomeTitle">Test solicitado</h1>
    <ion-grid>
        <ion-row>
            <ion-col>
                <h2 i18n="@@testAppointmentResultSubtitle1">Gracias por la solicitud</h2>
                <h5 i18n="@@testAppointmentResultSubtitle2">Estamos para ayudarte!</h5>
                <p i18n="@@testAppointmentResultDescription">Proximamente llegará una ambulancia a donde vives</p>
                <h5>{{patientAddress}}</h5>
                <div class="ambulance-container"><img class="button-icon filter-black" src="/assets/icons/svg/icon-ambulancia.svg" style="width: 50%; height: auto;"></div>
                <p i18n="@@testAppointmentResultDescription2">Y en 24 horas tendrás los resultados del test que te lo enviaremos directamente a tu móvil mediante esta APP.</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<div class="footer-buttons-container">
    <button class="btn" color="dark" (click)="backToHome()" expand="block" i18n="@@enter">OK</button>
</div>
