<ion-header>
    <ion-toolbar class="header-app">
        <ion-title i18n="testAppointmentResultTitle">Test solicitado</ion-title>
        <ion-buttons slot="end">
            <ion-icon size="large" (click)="backToHome()" name="close-outline"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <h1 i18n="@@testAppointmentResultSubtitle1">Gracias por la solicitud</h1>
                <h5 i18n="@@testAppointmentResultSubtitle2">Estamos para ayudarte!</h5>
                <p i18n="@@testAppointmentResultDescription">Proximamente llegará una ambulancia a donde vives</p>
                <h5>{{patientAddress}}</h5>
                <div class="ambulance-container"><img class="button-icon filter-black" src="/assets/icons/svg/icon-ambulancia.svg" style="width: 50%; height: auto;"></div>
                <p i18n="@@testAppointmentResultDescription2">Y <strong>en 24 horas tendrás los resultados del test</strong> que te lo enviaremos directamente a tu móvil mediante esta APP.</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
