<!-- add here one entry per each dynamic string used with $localize() function to allow add new strings incrementally without reseting existing ones -->

<ng-container i18n="@@appointmentAtHomeDescription">Le enviaremos una ambulancia para hacerle el test del coronavirus en breve</ng-container>
<ng-container i18n="@@appointmentAtHealthCenterDescription">Cita para el test del coronavirus [appointmentDate] en [healthCenterName] [healthCenterAddress]</ng-container>
<ng-container i18n="@@howToGetThereLink">¿Cómo llegar?</ng-container>
<ng-container i18n="@@enterCustomReasonToLeaveTo">Por favor, escriba porque desea salir.</ng-container>
<ng-container i18n="@@changesSavedAlert">Tus cambios se han salvado</ng-container>
<ng-container i18n="@@pleaseWait">Por favor, espere ...</ng-container>
<ng-container i18n="@@geolocationNotificationTitle">Tu posición es importante</ng-container>
<ng-container i18n="@@geolocationNotificationText">Al informar sobre tu posición ayudas mucho a combatir el CORONAVIRUS</ng-container>
<ng-container i18n="@@backgroundGeopositionConfigReview">Al informar sobre tu posición ayudas mucho a combatir el CORONAVIRUS. Te gustaría cambiar la configuración de la app?</ng-container>
<ng-container i18n="@@shareText">Estoy usando Open Coronavirus, una APP para combatir la propagación de infecciones</ng-container>
<ng-container i18n="@@groceryShoppingLeaveReason">Comprar alimento</ng-container>
<ng-container i18n="@@drugstoreShoppingLeaveReason">Comprar productos farmacéuticos y de primera necesidad</ng-container>
<ng-container i18n="@@forMedicalAssitanceLeaveReason">Ir al médico o al hospital</ng-container>
<ng-container i18n="@@goToWorkLeaveReason">Ir al trabajo</ng-container>
<ng-container i18n="@@backToHomeLeaveReason">Volver a casa</ng-container>
<ng-container i18n="@@assistElderlyPersonLeaveReason">Asistir a un mayor u otra persona dependiente</ng-container>
<ng-container i18n="@@goToBankLeaveReason">Ir al banco</ng-container>
<ng-container i18n="@@eventsOfForceMajeureLeaveReason">Por causa de fuerza mayor o situación de necesidad</ng-container>
<ng-container i18n="@@otherLeaveReason">Otro motivo</ng-container>
<ng-container i18n="@@quiestionArriveHome">¿Has llegado a casa?</ng-container>
<ng-container i18n="@@responseNo">No</ng-container>
<ng-container i18n="@@responseYes">Sí</ng-container>