<ng-container i18n="@@appointmentAtHomeDescription">Le enviaremos una ambulancia para hacerle el test del coronavirus en breve</ng-container>
<ng-container i18n="@@appointmentAtHealthCenterDescription">Cita para el test del coronavirus [appointmentDate] en [healthCenterName] [healthCenterAddress]</ng-container>
<ng-container i18n="@@howToGetThereLink">Como llegar?</ng-container>
<ng-container i18n="@@enterCustomReasonToLeaveTo">Por favor, escriba porque desea salir.</ng-container>
<ng-container i18n="@@changesSavedAlert">Tus cambios se han salvado</ng-container>
<ng-container i18n="@@pleaseWait">Por favor, espere ...</ng-container>
<ng-container i18n="@@geolocationNotificationTitle">Tu posición es importante</ng-container>
<ng-container i18n="@@geolocationNotificationText">Al informar sobre tu posición ayudas mucho a combatir el CORONAVIRUS</ng-container>
<ng-container i18n="@@backgroundGeopositionConfigReview">Al informar sobre tu posición ayudas mucho a combatir el CORONAVIRUS. Te gustaría cambiar la configuración de la app?</ng-container>
<ng-container i18n="@@shareText">Estoy usando Open Coronavirus, una APP para combatir la propagación de infecciones</ng-container>
