<ion-header>
    <ion-toolbar class="header-app">
        <ion-buttons slot="start">
            <ion-icon size="large" (click)="goBack()" class="menu-icon filter-white" name="chevron-back-outline"></ion-icon>
        </ion-buttons>
        <div class="header-app__title" i18n="@@patientInfoTitle">Mis datos</div>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <patient-info-form #patientInfoFormComponent [patient]="patientService.patient"></patient-info-form>
                <button class="btn" color="dark" (click)="update()" expand="block" i18n="@@saveButton">Guardar</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
