<ion-header translucent>
    <ion-toolbar class="modal-header">
      <ion-buttons slot="end">
        <ion-icon size="large" (click)="backToHome()" name="close"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="modal-text" fullscreen>

    <h1 i18n="@@leaveCustomReasonFormTitle">¿Quieres salir de casa?</h1>
    <gray-option *ngIf="leaveRequestReason" [text]="leaveRequestReason.label" [icon]="leaveRequestReason.icon != null?'/assets/icons/svg/' + leaveRequestReason.icon:null"></gray-option>
    <p i18n="@@leaveCustomReasonFormDescription">Indica el motivo por el que vas a salir de casa</p>

    <textarea [(ngModel)]="leaveRequestAdditionalInfo" class="form-textarea form-textarea--mb" i18n-placeholder placeholder="Escribe el motivo"></textarea>
    
    <ion-button color="dark" (click)="requestLeaveHome()" expand="block" i18n="@@okButton">OK</ion-button>
    <ion-button color="light" (click)="backToRequestReasons()" expand="block" i18n="@@backButton">Volver</ion-button>

</ion-content>
