<ion-header>
    <ion-toolbar class="header-app">
        <ion-buttons slot="start">
            <ion-icon size="large" (click)="goBack()" class="menu-icon filter-white" name="chevron-back-outline"></ion-icon>
        </ion-buttons>
        <div class="header-app__title" i18n="@@aboutMainTitle">Sobre la APP</div>
    </ion-toolbar>
</ion-header>
<ion-content>
    <h1 class="screen-title" i18n="@@aboutTitle">Información sobre la APP</h1>
    <div class="recuadro-test recuadro-test--about">
        <p>
            <ng-container i18n="@@aboutVersionNumber">Versión</ng-container>:
            <strong>{{ getNumberVersionText() }}</strong>
        </p>
        <p><strong i18n="@@aboutby">By Open Coronavirus</strong><br><a href="https://github.com/open-coronavirus" target="_blank">https://github.com/open-coronavirus</a></p>
    </div>

    <h2 *ngIf="showNearestDevicesUUID && keysSent.length > 0" i18n="@@keysSent">Mis claves enviadas</h2>
    <!-- Notes in a List -->
    <ion-list *ngIf="showNearestDevicesUUID && keysSent.length > 0">
        <ion-item *ngFor="let keys of keysSent">
            <ion-label class="ion-text-wrap">{{keys.encryptedData}} at {{keys.date | date:'mediumTime' }}</ion-label>
        </ion-item>
    </ion-list>
    
    <h2 *ngIf="showNearestDevicesUUID && nearestDevices.length > 0" i18n="@@nearestDevices">Dispositivos Cercanos</h2>
    <!-- Notes in a List -->
    <ion-list *ngIf="showNearestDevicesUUID && nearestDevices.length > 0">
        <ion-item *ngFor="let device of nearestDevices">
            <ion-label class="ion-text-wrap">{{device.encryptedData}} <span *ngIf="device.rssi != null">({{device.rssi}})</span> at {{device.date | date:'mediumTime' }}</ion-label>
        </ion-item>
    </ion-list>

</ion-content>

