.menu{
  &__separator {
    border-bottom: 1px solid lightgray;
    padding-bottom: 16px;
  }

  &__header{
    display: flex;
    align-items: center;
    margin: 0 16px;
    padding: 16px 0;    

    .circle{
      margin-right: 10px;
    }
      
    &-name {
      font-size: 16px;
    }

  }

  &__item {
    display: flex;
    align-items: center;
    padding-top: 16px;

    img {
      margin-right: 16px;
    }

    &--sm{
      font-size: 14px;
      line-height: 16px;

    }
    &--xs{
      color: #9b9b9b;
      padding-left: 40px;
      text-decoration: underline;
      font-size: 12px;
    }
  }
}
