<ion-header>
    <ion-toolbar class="header-app">
        <ion-buttons slot="start">
            <ion-icon size="large" (click)="goBack()" class="menu-icon filter-white" name="chevron-back-outline"></ion-icon>
        </ion-buttons>
        <div class="header-app__title">{{title}}</div>
        <ion-buttons *ngIf="showExitButton" slot="end">
            <ion-icon size="large" (click)="backToHome()" name="close-outline"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row *ngIf="questionText">
            <ion-col>
                <h4>{{questionText}}</h4>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <span *ngIf="subtitle" [innerHTML]="subtitle"></span>
                <ng-container *ngFor="let question of currentQuestion?.children; let i = index">
                    <gray-option (click)="answer($event, question)" [text]="question.option"></gray-option>
                </ng-container>
                <div *ngIf="showExitButton">
                    <button class="btn" color="dark" (click)="backToHome()" expand="block" i18n="@@okButton">OK</button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

