<ion-header>
    <ion-toolbar class="header-app">
        <ion-buttons slot="start">
            <ion-icon size="large" (click)="goBack()" class="menu-icon filter-white" name="chevron-back-outline"></ion-icon>
        </ion-buttons>
        <div class="header-app__title">{{title}}</div>
        <ion-buttons *ngIf="showExitButton" slot="end">
            <ion-icon size="large" (click)="backToHome()" name="close-outline"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <h2 class="question-title" *ngIf="questionText">{{questionText}}</h2>
    <div class="question-text" *ngIf="subtitle" [innerHTML]="subtitle"></div>
    <div class="question-questions">
        <ng-container *ngFor="let question of currentQuestion?.children; let i = index">
            <gray-option (click)="answer($event, question)" [text]="question.option"></gray-option>
        </ng-container>
    </div>
    <div *ngIf="showExitButton">
        <button class="btn" (click)="backToHome()" expand="block" i18n="@@okButton">OK</button>
    </div>
</ion-content>

