@font-face {
  font-family: 'Signika';
  src: url('/assets/fonts/Signika-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Signika';
  src: url('/assets/fonts/Signika-SemiBold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Signika';
  src: url('/assets/fonts/Signika-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
