<ion-header translucent>
  <ion-toolbar class="modal-header">
    <ion-buttons slot="end">
      <ion-icon size="large" (click)="dismissModal()" name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="modal-text" fullscreen>
  <h1 class="screen-title" i18n="@@contactUploadThanksTitle1">¡Gracias!</h1>
  <h2 class="screen-subtitle" i18n="@@contactUploadThanksTitle2">Tu información ha sido trasnmitida de forma anónima.</h2>

  <p class="screen-text" i18n="@@contactUploadThanksText1">
    Estás ayudando y protegiendo a muchas personas.
  </p>

  <p class="screen-text" i18n="@@contactUploadThanksText2">
    De este modo estás ayudando y protegiendo a muchas personas.<br/>
    ¡A este virus le ganamos entre todos!
  </p>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="footer-app" >
    <button class="btn" color="dark"(click)="dismissModal()" i18n="@@OK">OK</button>
  </ion-toolbar>
</ion-footer>