<ion-header translucent>
  <ion-toolbar class="modal-header">
    <ion-buttons slot="end">
      <ion-icon size="large" (click)="dismissModal()" name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="modal-text" fullscreen>
  <h1 class="screen-title" i18n="@@contactUploadRequestTitle1">Resultado de tu test diagnóstico</h1>
  <div class="recuadro-test recuadro-test--positivo-virus" i18n="@@contactUploadRequestTitle2">
    <p>Has dado <br><strong>POSITIVO</strong> en COVID-19</p>
  </div>
  <ng-container *ngIf="!autoShareActivated">
    <h2 class="screen-subtitle" i18n="@@contactUploadRequestSubTitle1">¡NECESITAMOS TU AYUDA!</h2>
    <p class="screen-text" i18n="@@contactUploadRequestText1">Con tu autorización para enviar tus datos y su uso <strong>podremos avisar a las personas con las que te has cruzado</strong> diciéndoles que han estado a una distancia de riesgo de una persona que ha dado positivo en COVID-19, pero <strong>sin especificar quién.</strong></p>
    <p class="screen-text" i18n="@@contactUploadRequestText2">Esta colaboración puede ayudar a contener al virus y estarás ayudando y protegiendo a muchas personas.</p>
  </ng-container>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="footer-app" >
    <ng-container *ngIf="!autoShareActivated; else okButton">
      <button class="btn btn--secondary" (click)="dismissModal()" expand="block" i18n="@@noAuthorize">NO AUTORIZO</button>
      <button class="btn" (click)="acceptUpload()" expand="block" i18n="@@authorize">SI, AUTORIZO</button>
    </ng-container>
    <ng-template #okButton>
      <button class="btn" (click)="dismissModal()" expand="block" i18n="@@okButton">OK</button>
    </ng-template>
  </ion-toolbar>
</ion-footer>