<ion-header translucent>
  <ion-toolbar>
    <ion-title>Política de Privacidad</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()" i18n="@@close">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>

  <h1>Titulo</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet dui vitae risus cursus ornare. Aliquam in varius magna. Quisque eu erat faucibus ex facilisis imperdiet eu et arcu. Duis sit amet metus non risus aliquam accumsan euismod vitae est. Nulla a nisi et augue ultrices eleifend. Phasellus eleifend lacinia augue. Morbi scelerisque quis est sed hendrerit. Ut maximus eros nec purus sodales vulputate. Sed hendrerit nunc a orci tincidunt, et viverra purus faucibus. Mauris id dolor non ante dictum condimentum. Vestibulum diam diam, auctor ut condimentum pulvinar, euismod ac nisl. Vestibulum eu lectus felis. In vel finibus nisl. Nullam hendrerit dapibus metus ut bibendum. Proin vulputate eros eget diam efficitur volutpat nec sit amet quam. Cras vel quam tortor.

    Aliquam ac dui in metus sodales cursus ut ac nisl. Maecenas rhoncus purus ac nunc rhoncus ultrices. Donec non sollicitudin nisi. Proin quis nulla varius, blandit lectus quis, scelerisque dui. Aliquam vitae metus ipsum. Quisque rutrum dui id nunc feugiat condimentum. Ut nisl dui, commodo eu orci sed, scelerisque dapibus nisi.

    Aliquam ac dui in metus sodales cursus ut ac nisl. Maecenas rhoncus purus ac nunc rhoncus ultrices. Donec non sollicitudin nisi. Proin quis nulla varius, blandit lectus quis, scelerisque dui. Aliquam vitae metus ipsum. Quisque rutrum dui id nunc feugiat condimentum. Ut nisl dui, commodo eu orci sed, scelerisque dapibus nisi.

    Aliquam ac dui in metus sodales cursus ut ac nisl. Maecenas rhoncus purus ac nunc rhoncus ultrices. Donec non sollicitudin nisi. Proin quis nulla varius, blandit lectus quis, scelerisque dui. Aliquam vitae metus ipsum. Quisque rutrum dui id nunc feugiat condimentum. Ut nisl dui, commodo eu orci sed, scelerisque dapibus nisi.

    Aliquam ac dui in metus sodales cursus ut ac nisl. Maecenas rhoncus purus ac nunc rhoncus ultrices. Donec non sollicitudin nisi. Proin quis nulla varius, blandit lectus quis, scelerisque dui. Aliquam vitae metus ipsum. Quisque rutrum dui id nunc feugiat condimentum. Ut nisl dui, commodo eu orci sed, scelerisque dapibus nisi.

    Vestibulum fermentum vitae mauris non lobortis. Cras consectetur tellus non massa efficitur ullamcorper. Phasellus sollicitudin cursus tortor et semper. Pellentesque tristique ultricies massa tincidunt dignissim. Ut venenatis ac dolor vel suscipit. Sed cursus tincidunt lectus, id dignissim magna porta quis. Nunc in commodo augue. Suspendisse potenti.</p>

</ion-content>

