<ion-header>
    <ion-toolbar class="header-app">
        <ion-buttons slot="start">
            <ion-icon size="large" (click)="goBack()" class="menu-icon filter-white" name="chevron-back-outline"></ion-icon>
        </ion-buttons>
        <div class="header-app__title" i18n="@@requestTestTitle">Solicitar test</div>
    </ion-toolbar>
</ion-header>
<ion-content class="no-access">
    <ion-grid>
        <ion-row>
            <ion-col>
                <h4 *ngIf="isCoronavirusSuspicious" i18n="@@requestTestDescription">Según tus síntomas te recomendamos hacer un test diagnóstico de COVID-19</h4>
                <p i18n="@@requestTestDescription2">Pide el test médico y te daremos cita o te enviaremos una ambulancia a tu domicilio.</p>
                <button class="btn" (click)="requestTest()" color="dark" expand="block"><img class="button-icon filter-white" src="/assets/icons/svg/icon-test.svg">&nbsp;&nbsp;&nbsp;<ng-container i18n="requestTestButton">Solicitar test diagnóstico</ng-container></button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

