.menu{
  &__separator {
    border-bottom: 1px solid lightgray;
    padding-bottom: 16px;
  }

  &__header{
    display: flex;
    align-items: center;
    margin: 0 16px;
    padding: 24px 0 16px 0;
    
    &-circle {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 24px;
      background: #f3f3f3;
      color: black;
    }
      
    &-name {
      font-size: 16px;
    }

  }

  &__item {
    display: flex;
    align-items: center;
    padding-top: 16px;
    font-size: 16px;
    position: relative;

    img {
      margin-right: 16px;
      @media (min-width: 320px) {
        width: 30px;
        height: auto;
      }
    }

    &-badge{
      font-size: 12px;
      line-height: 14px;
      width: 14px;
      height: 14px;
      background-color: #c80f2e;
      color: #fff;
      text-align: center;
      border-radius: 50%;
      position: absolute;
      top: 16px;
      left: 8px;
    }

    &--sm{
      font-size: 14px;
      line-height: 16px;
      img {
        @media (min-width: 320px) {
          width: 25px;
        }
      }

    }
    &--sin{
      padding-left: 40px;
    }
    &--xs{
      color: #9b9b9b;
      padding-left: 40px;
      text-decoration: underline;
      font-size: 14px;
      img {
        @media (min-width: 320px) {
          width: 25px;
        }
      }
    }
    &--ble{
      align-items: flex-start;
      img {
        @media (min-width: 320px) {
          width: 12px;
        }
      }
    }
  }
}
