<ion-menu side="start" menuId="menu" contentId="main">
    <ion-header>
        <ion-list>
            <div class="menu-item-header menu-separator" (click)="goToHome()">
                <div class="circle circle-gray">{{patientInitials}}</div>
                <div class="patient-name-in-menu">{{patientName}}</div>
            </div>
        </ion-list>
    </ion-header>
    <ion-content>
        <ion-list>
            <div *ngIf="leaveStatus == null || leaveStatus == 1" class="menu-item menu-separator" (click)="goToRequestLeaveHome()">
                <ion-icon class="button-icon filter-black switch-color" src="/assets/icons/svg/icon-salir-casa.svg" slot="start"></ion-icon>
                <ng-container i18n="@@ImGoingLeaveHomeMenuLabel">Voy a salir de casa</ng-container>
            </div>
            <div *ngIf="leaveStatus == 2" class="menu-item menu-separator" (click)="setAtHome()">
                <ion-icon class="button-icon filter-black switch-color" src="/assets/icons/svg/icon-volver-casa.svg" slot="start"></ion-icon>
                <ng-container i18n="@@IWentBackToHomeMenuLabel">He vuelto a casa</ng-container>
            </div>
            <div class="menu-item" (click)="goToAutotest()">
                <ion-icon class="button-icon filter-black switch-color" src="/assets/icons/svg/icon-test.svg" slot="start"></ion-icon>
                <ng-container i18n="@@autotestMenuLabel">¿Tengo el coronavirus?</ng-container>
            </div>
            <div class="menu-item" (click)="goToCoronavirusInfo()">
                <ion-icon class="button-icon filter-black switch-color" src="/assets/icons/svg/icon-info.svg" slot="start"></ion-icon>
                <ng-container i18n="@@coronavirusInfoMenuLabel">Información sobre el coronavirus</ng-container>
            </div>
        </ion-list>
    </ion-content>
    <ion-toolbar>
        <ion-list>
            <div class="menu-item" (click)="goToMyInfo()">
                <ion-icon class="button-icon filter-black switch-color" src="/assets/icons/svg/icon-usuario.svg" slot="start"></ion-icon>
                <ng-container i18n="@@myInfoMenuLabel">Mis datos</ng-container>
            </div>
            <div class="menu-item" (click)="share()">
                <ion-icon class="button-icon filter-green" src="/assets/icons/svg/whatsapp.svg" slot="start"></ion-icon>
                <ng-container i18n="@@shareMenuLabelLine1">Compartir App </ng-container>
                <ng-container i18n="@@shareMenuLabelLine2">para luchar juntos</ng-container>
            </div>
        </ion-list>
    </ion-toolbar>
</ion-menu>

<!-- the main content -->
<ion-router-outlet class="app-router-outlet" id="main"></ion-router-outlet>
