<ion-menu class="menu" side="start" menuId="menu" contentId="main" *ngIf="patientService.patient" >
    <ion-header>
        <div class="menu__header menu__separator" (click)="goToHome()">
            <div class="menu__header-container" [ngClass]="{'menu__header-container--immune': patientService.patient.status === immuneStatus}">
                <div class="menu__header-circle">{{patientInitials}}</div>
                <div class="menu__header-name">{{patientName}}</div>
            </div>
        </div>
    </ion-header>
    <ion-content>
        <div>
            <ng-container *ngIf="patientService.patient.status !== immuneStatus">
                <div *ngIf="showSendContactInformationMenu" class="menu__item menu__item--ble  menu__separator" (click)="uploadContactsAndShowThanksModal()">
                    <img class="button-icon filter-black" src="/assets/icons/svg/icon-bluetooth.svg">
                    <span class="menu__item-badge">{{contactsCount}}</span>
                    <ng-container i18n="@@coronavirusSendInfo">Autoriza avisar de forma anónima</ng-container>
                </div>
                <div *ngIf="settings.home.moduleHome && (leaveStatus == null || leaveStatus == 1)" class="menu__item" (click)="goToConfirmationRequestLeaveHome()">
                    <img class="button-icon filter-black" src="/assets/icons/svg/icon-salir-black.svg">
                    <ng-container i18n="@@ImGoingLeaveHomeMenuLabel">Voy a salir de casa</ng-container>
                </div>

                <div *ngIf="settings.home.moduleHome && leaveStatus == 2" class="menu__item" (click)="setAtHome()">
                    <img class="button-icon filter-black" src="/assets/icons/svg/icon-entrar-black.svg">
                    <ng-container i18n="@@IWentBackToHomeMenuLabel">He vuelto a casa</ng-container>
                </div>

                <div *ngIf="settings.home.moduleRequestTest && patientService.patient?.status !== infectedStatus" class="menu__item" (click)="requestTest()">
                    <img class="button-icon filter-black" src="/assets/icons/svg/icon-test-black.svg">
                    <ng-container i18n="@@requestTestMenuLabel">Solicitar test COVID-19</ng-container>
                </div>

                <div *ngIf="settings.home.moduleAutoTest" class="menu__item" (click)="goToAutotest()">
                    <img class="button-icon filter-black" src="/assets/icons/svg/icon-autotest-black.svg">
                    <ng-container i18n="@@autotestMenuLabel">Autoevaluación COVID-19</ng-container>
                </div>

                <div *ngIf="settings.home.moduleFollowingUp" class="menu__item menu__separator" (click)="goToFollowingUp()">
                    <img class="button-icon filter-black" src="/assets/icons/svg/icon-seguimiento-black.svg">
                    <ng-container i18n="@@trckingMenuLabel">Seguimiento de tu salud</ng-container>
                </div>
            </ng-container>
            <div class="menu__item menu__item--sm" (click)="goToCoronavirusInfo()">
                <img class="button-icon" src="/assets/icons/svg/icon-info.svg">
                <ng-container i18n="@@InfoMenuLabel">Info sobre COVID-19</ng-container>
            </div>
            <div class="menu__item" (click)="goToMyInfo()">
                <img class="button-icon filter-black" src="/assets/icons/svg/icon-usuario.svg">
                <ng-container i18n="@@myInfoMenuLabel">Mis datos</ng-container>
            </div>
        </div>
    </ion-content>
    <ion-toolbar>
        <div>
            <div class="menu__item" (click)="goWelcome()">
                <img class="button-icon" src="/assets/icons/svg/icon-engranaje.svg">
                <ng-container i18n="@@howWorkMenuLabel">¿Cómo funciona?</ng-container>
            </div>
            <div class="menu__item" (click)="goAbout()">
                <img class="button-icon" src="/assets/icons/svg/icon-movil-app.svg">
                <ng-container i18n="@@InfoAppMenuLabel">Sobre la APP</ng-container>
            </div>
            <div class="menu__item menu__item--sm" (click)="share()">
                <img class="button-icon filter-green" src="/assets/icons/svg/whatsapp.svg">
                <ng-container i18n="@@shareMenuLabel">Compartir APP</ng-container>
            </div>
            <div class="menu__item menu__item--xs">
                <a i18n="@@termsAndConditions" href="javascript:void(null);" (click)="showTermsAndConditions($event)">Condiciones de uso</a>
            </div>
            <div class="menu__item menu__item--xs">
                <a i18n="@@privacityConditions" href="javascript:void(null);" (click)="showPrivacityConditions($event)">Política de privacidad</a>
            </div>
        </div>
    </ion-toolbar>
</ion-menu>

<!-- the main content -->
<ion-router-outlet class="app-router-outlet" id="main"></ion-router-outlet>
