.menu-separator {
  border-bottom: 1px solid lightgray;
}

.menu-item-header {
  padding-top: 40px;
  padding-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 10px;

}

.menu-item {
  padding: 1em;
  text-align: left;

  ion-icon {
    margin-right: .5em;
    vertical-align: middle;
    padding-right: .5em;
  }

  ng-container {
    padding-left: .5em;
  }

}

.menu-footer-item {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 45px;
  text-indent: -35px;

  img {
    vertical-align: middle;
  }

}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
  float: left;
  margin-right: 10px;
}

.circle-gray {
  background: #f3f3f3;
  color: black;
}

.patient-name-in-menu {
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
}


// Dark mode Sass changes

@media (prefers-color-scheme: dark) {
  .patient-name-in-menu {
    color: white;
  }

  .filter-black {
    filter: invert(100) sepia(100%) saturate(0%) hue-rotate(171deg) brightness(101%) contrast(200%) !important;
  }
}