.menu{
  &__separator {
    border-bottom: 1px solid lightgray;
    padding-bottom: 16px;
  }

  &__header{
    display: flex;
    align-items: center;
    margin: 0 16px;
    padding: 16px 0;
    
    &-circle {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 24px;
      background: #f3f3f3;
      color: black;
    }
      
    &-name {
      font-size: 16px;
    }

  }

  &__item {
    display: flex;
    align-items: center;
    padding-top: 16px;

    img {
      margin-right: 16px;
    }

    &--sm{
      font-size: 14px;
      line-height: 16px;

    }
    &--xs{
      color: #9b9b9b;
      padding-left: 40px;
      text-decoration: underline;
      font-size: 12px;
    }
  }
}
