<form [formGroup]="patientInfoForm">
    <div class="form-row">
        <h5 i18n="@@personalInfoSectionTitle">Tus datos</h5>
    </div>
    <div class="form-row">
        <div class="form-group form-label-group">
            <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName" i18n-placeholder placeholder="Nombre">
            <label for="firstName" i18n="@@firstNameLabel">Nombre</label>
            <small class="error" *ngIf="firstName.invalid && firstName.touched" i18n="@@firstNameError">Por favor, introduce tu nombre</small>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group form-label-group">
            <input type="text" class="form-control"  id="lastName" name="lastName" formControlName="lastName" i18n-placeholder placeholder="Apellidos">
            <label for="lastName" i18n="@@lastNameLabel">Apellidos</label>
            <small class="error" *ngIf="lastName.invalid && lastName.touched" i18n="@@lastNameError">Por favor, introduce tus apellidos</small>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group form-label-group">
            <input type="text" class="form-control" name="documentNumber" id="documentNumber" formControlName="documentNumber" i18n-placeholder placeholder="DNI/NIF/Tarjeta residencia">
            <label for="documentNumber" i18n="@@documentNumberLabel">DNI/NIF/Tarjeta residencia</label>
            <small class="error" *ngIf="documentNumber.invalid && documentNumber.touched" i18n="@@documentNumberForm">Por favor, introduce tu número de documento</small>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group form-label-group">
            <input type="text" class="form-control" name="healthInsuranceCardNumber" id="healthInsuranceCardNumber" formControlName="healthInsuranceCardNumber" i18n-placeholder placeholder="Número de tarjeta sanitaria">
            <label for="healthInsuranceCardNumber" i18n="@@healthInsuranceCardNumberLabel">Número de tarjeta sanitaria</label>
            <small class="error" *ngIf="healthInsuranceCardNumber.invalid && healthInsuranceCardNumber.touched" i18n="@@healthInsuranceCardNumberError">Por favor, introduce tu número de tarjeta sanitaria</small>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group form-label-group"  style="width: 50%;">
            <input type="text" class="form-control" name="age" id="age" formControlName="age" i18n-placeholder placeholder="Edad">
            <label for="age" i18n="@@ageLabel">Edad</label>
            <small class="error" *ngIf="age.invalid && age.touched" i18n="@@ageError">Por favor, introduce tu edad (por ejemplo 25)</small>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group form-check option-group">
            <input class="form-check-input" formControlName="gender" name="gender" id="female" [value]="2" type="radio">
            <label for="female" i18n="@@genderFemaleLabel">Mujer</label>
        </div>
        <div class="form-group form-check option-group">
            <input class="form-check-input" formControlName="gender" name="gender" id="male" [value]="1" type="radio">
            <label for="male" i18n="@@genderMaleLabel">Hombre</label>
        </div>
        <div *ngIf="gender.invalid && gender.touched" class="option-error">
            <small class="error" *ngIf="gender.invalid && gender.touched"  i18n="@@genderError">Por favor, indica tu género</small>
        </div>
    </div>
    <div class="form-row section-title">
        <h5 i18n="@@addressSectionTitle">Dirección donde vives</h5>
    </div>
    <div class="form-row">
        <div class="form-group form-label-group">
            <input type="text" class="form-control" id="street" name="street" formControlName="street" i18n-placeholder placeholder="Calle">
            <label for="street" i18n="@@streetLabel">Calle</label>
            <small class="error" *ngIf="street.invalid && street.touched" i18n="@@streetError">Por favor, introduce tu dirección</small>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group form-label-group">
            <input type="text" class="form-control" id="apartment" name="apartment" formControlName="apartment" i18n-placeholder placeholder="Número">
            <label for="apartment" i18n="@@apartmentLabel">Número</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group form-label-group">
            <input type="text" class="form-control" id="postalCode" name="postalCode" formControlName="postalCode" i18n-placeholder placeholder="Código postal">
            <label for="postalCode" i18n="@@postalCodeLabel">Código postal</label>
            <small class="error" *ngIf="postalCode.invalid && postalCode.touched" i18n="@@postalCodeError">Por favor, introduce un código postal válido</small>
        </div>
    </div>

    <div class="form-row section-title">
        <h5 i18n="@@contactInfoSectionTitle">Información de contacto</h5>
    </div>
    <div class="form-row">
        <div class="form-group form-label-group">
            <input type="text" class="form-control" id="email" name="email" formControlName="email" i18n-placeholder placeholder="Email">
            <label for="email" i18n="@@emailLabel">Email</label>
            <small class="error" *ngIf="email.invalid && email.touched" i18n="@@emailError">Por favor, introduce un email válido</small>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group form-label-group">
            <input type="text" class="form-control" id="phone" name="phone" formControlName="phone" i18n-placeholder placeholder="Phone">
            <label for="phone" i18n="@@phoneLabel">Phone</label>
            <small class="error" *ngIf="phone.invalid && phone.touched" i18n="@@phoneError">Por favor, introduce un número de teléfono válido</small>
        </div>
    </div>
</form>
