<form [formGroup]="patientInfoForm">
    <div class="form-row">
        <h1 class="screen-title" i18n="@@personalInfoSectionTitle">Introduce tus datos personales</h1>
        <p class="screen-text" i18n="@@personalInfoSectionSubtitle">Utilizaremos tus datos únicamente con fines médicos, para ayudarte a evaluar tu situación y ayudar al resto de ciudadanos a frenar al COVID-19</p>
    </div>
    <div class="form-row">
        <div class="form-group form-label-group">
            <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName" i18n-placeholder placeholder="Nombre">
            <label for="firstName" i18n="@@firstNameLabel">Nombre y apellidos</label>
            <small class="error" *ngIf="firstName.invalid && firstName.touched" i18n="@@firstNameError">Por favor, introduce tu nombre completo</small>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group form-label-group">
            <input type="text" class="form-control" name="documentNumber" id="documentNumber" formControlName="documentNumber" i18n-placeholder placeholder="DNI/NIF/Tarjeta residencia">
            <label for="documentNumber" i18n="@@documentNumberLabel">DNI / NIF / Tarjeta sanitaria</label>
            <small class="error" *ngIf="documentNumber.invalid && documentNumber.touched" i18n="@@documentNumberForm">Por favor, introduce tu número de documento</small>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group form-label-group form-label-group--bday">
            <ion-datetime class="form-control form-datepicker" [ngClass]="{'form-datepicker--error' : enabledDateValidation}" displayFormat="DD/MM/YYYY" [max]="getMaxDate()" name="birthday" id="birthday" formControlName="birthday" (ionBlur)="changeDate($event)"></ion-datetime>
            <label for="birthday" i18n="@@birthdayLabel" *ngIf="!patient.birthday">Fecha de nacimiento</label>
            <small class="error" *ngIf="birthday.invalid && birthday.touched && enabledDateValidation" i18n="@@birthdayError">Por favor, introduce tu fecha de nacimiento</small>
        </div>
    </div>

    <ng-container *ngIf="settings.register.moduleHome">
        <div class="form-row form-row--separa">
            <h2 class="screen-subtitle" i18n="@@addressSectionTitle">Dirección actual</h2>
            <p class="screen-text" i18n="@@addressSectionSubtitle">Tu dirección es importante para poder darte cita en el centro más cercano de test de COVID-19</p>
        </div>
        <div class="form-row">
            <div class="form-group form-label-group form-label-group--half">
                <input type="tel" class="form-control" id="postalCode" name="postalCode" formControlName="postalCode" i18n-placeholder placeholder="Código postal">
                <label for="postalCode" i18n="@@postalCodeLabel">Código postal</label>
                <small class="error" *ngIf="postalCode.invalid && postalCode.touched" i18n="@@postalCodeError">Por favor, introduce un código postal válido</small>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group form-label-group">
                <input type="text" class="form-control" id="street" name="street" formControlName="street" i18n-placeholder placeholder="Calle">
                <label for="street" i18n="@@streetLabel">Dirección domicilio (opcional)</label>
                <small class="error" *ngIf="street.invalid && street.touched" i18n="@@streetError">Por favor, introduce tu dirección</small>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="settings.register.moduleContact">
        <div class="form-row form-row--separa">
            <h2 class="screen-subtitle" i18n="@@contactInfoSectionTitle">Información de contacto</h2>
            <p class="screen-text" i18n="@@addressSectionSubtitle">Tu información de contacto es esencial para que en caso de una urgencia podamos ponernos en contacto contigo</p>
        </div>
        <div class="form-row">
            <div class="form-group form-label-group">
                <input type="tel" class="form-control" id="phone" name="phone" formControlName="phone" i18n-placeholder placeholder="Phone">
                <label for="phone" i18n="@@phoneLabel">Teléfono</label>
                <small class="error" *ngIf="phone.invalid && phone.touched" i18n="@@phoneError">Por favor, introduce un número de teléfono válido</small>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group form-label-group">
                <input type="email" class="form-control" id="email" name="email" formControlName="email" i18n-placeholder placeholder="Email">
                <label for="email" i18n="@@emailLabel">Correo electrónico (opcional)</label>
                <small class="error" *ngIf="email.invalid && email.touched" i18n="@@emailError">Por favor, introduce un email válido</small>
            </div>
        </div>
    </ng-container>

    <div class="form-row" *ngIf='edit'>
        <div class="form-group">
          <div class="form-check">
            <input formControlName="autoshare" name="autoshare" class="form-check__input" id="autoshare" type="checkbox">

            <label for="autoshare">
              <span class="form-check__check"></span>
              <span class="form-check__text">
                <span i18n="@@autoshareCheck">Autorizar avisar a las personas con las que has estado cerca en caso de positivo de COVID-19, sin especificar que eres tú.</span>
              </span>
            </label>
          </div>
        </div>
      </div>
</form>
