<ion-header translucent>
    <ion-toolbar class="modal-header">
      <ion-buttons slot="end">
        <ion-icon size="large" (click)="backToHome()" name="close"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="modal-text" fullscreen>
    <h1 class="screen-title" i18n="@@requestLeaveHomeConnfirmationInfectedTitle">¿Vas a salir de casa?</h1>
    <div class="recuadro-test recuadro-test--danger">

      <h2 class="recuadro-title recuadro-title--big" i18n="@@requestLeaveHomeConnfirmationInfectedText1">No puedes salir de casa al tener infección aguda en COVID-19</h2>

      <p i18n="@@requestLeaveHomeConnfirmationInfectedText2"> La responsabilidad y colaboración ciudadana es fundamental para la lucha contra el virus.</p>
    </div>
    <p class="resultado-text">
      <button class="btn" (click)="backToHome()" expand="block" i18n="@@OK">OK</button>
    </p>

  </ion-content>