.qrcode {

  img {
    width: 100% !important;
  }

}


.auth-code-label {
  text-align: center;
  color: #848484;
}

.leave-status {
  padding-bottom: 10px;
  text-align: center;
  color: #848484;
}

.leave-reason {
  color: black;
}

.patient-name {
  text-align: center;
  color: black;
}

.share-link {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  img {
    vertical-align: middle;
  }

  a, a:hover {
    color: black;
    text-decoration: none;
  }

}

.appointment-info {
  font-size: 14px;
  display: flex;
  align-items: start;
  margin-left: 0px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  text-align: left !important;
  vertical-align: middle;
  word-break: keep-all;
  white-space: normal;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  background-color: #f3f3f3;
}

.appointment-info-icon {
  height: 25px;
  width: auto;
  padding-right: 10px;
}

