<corona-header [showMenu]="true"></corona-header>
<ion-content>
    <ion-grid class="result" [ngClass]="getClassStatus()">
        <ion-row class="ion-align-items-center">
            <ion-col size="6">
                <qrcode class="result__qr" [colorDark]="getColorStatus()" [elementType]="'img'" [qrdata]="'patientService.patient?.documentNumber'"></qrcode>
            </ion-col>
            <ion-col size="6">
                <p class="result__title" i18n="@@identity">Identificación</p>
                <p class="result__name">{{ patientName }}</p>
                <p class="result__title" i18n="@@results">Resultado COVID-19</p>
                <h3 class="result__status">{{ getTextStatus() }}</h3>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="false"><!-- este caso es cuando es ambulancia -->
        <ion-row>
            <ion-col size="12">
                <div  class="appointment">
                    <img src="/assets/icons/svg/icon-ambulancia.svg" class="appointment__icon filter-black">
                    <p class="appointment__text" i18n="@@ambulanceontheway">Ambulancia en camino.<br> Llegará en <strong>25 min</strong>. </p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-grid *ngIf="patientHasTestAppointment"><!-- este caso es cuando es cita otorgada -->
        <ion-row>
            <ion-col size="12">
                <div class="appointment">
                    <img src="/assets/icons/svg/icon-cita.svg" class="appointment__icon filter-black">
                    <p class="appointment__text">
                        <ng-container i18n="@@appointment">
                            <span [innerHTML]="appointmentDescriptionLine1"></span><span *ngIf="appointmentDescriptionLine2 != null" [innerHTML]="'<br />' + appointmentDescriptionLine2"></span>
                        </ng-container>
                    </p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>


    <!-- PENDIENTE -->
    <ion-grid *ngIf="false"><!-- este caso es cuando es cita solicitada -->
        <ion-row>
            <ion-col size="12">
                <div  class="appointment">
                    <img src="/assets/icons/svg/icon-cita.svg" class="appointment__icon filter-black">
                    <p class="appointment__text" i18n="@@appointmentRequested">Has solicitado una cita, próximamente te haremos llegar el horario y lugar de tu cita para el test COVID-19</p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="main-options">
        <ion-row class="ion-align-items-center">

            <ion-col size="6" class="ion-text-center" *ngIf="leaveStatus == 2">
                <div class="main-options__btn" (click)="setAtHome()">
                    <img class="main-options__image" src="/assets/icons/svg/icon-salir.svg">
                    <p class="main-options__text"  i18n="@@leaveHome">Volver <br>de casa</p>
                    <span>{{ hoursOutsideHome(leaveRequest?.outOfHomeTimestamp)}}</span>
                </div>
            </ion-col>
            <ion-col size="6" class="ion-text-center" *ngIf="leaveStatus !== 2 && patientService.patient?.status == 2">
                <div class="main-options__btn main-options__btn--no-link">
                    <img class="main-options__image" src="/assets/icons/svg/icon-salir.svg">
                    <p class="main-options__text" i18n="@@canGoHome">Puedes salir de casa</p>
                </div>
            </ion-col>
            <ion-col size="6" class="ion-text-center" *ngIf="leaveStatus !== 2 && patientService.patient?.status !== 2">
                <div class="main-options__btn" (click)="goToRequestLeaveHome()">
                    <img class="main-options__image" src="/assets/icons/svg/icon-salir.svg">
                    <p class="main-options__text"  i18n="@@leaveHome">Salir <br>de casa</p>
                </div>
            </ion-col>
            <ion-col size="6" class="ion-text-center" *ngIf="false && patientService.patient?.status === 2">
                <div class="main-options__btn main-options__btn--small">
                    <img class="main-options__image" src="/assets/icons/svg/icon-resultado.svg">
                    <p class="main-options__text" i18n="@@resultsTest">Ver resultado <br>de test COVID-19</p>
                </div>
                <div class="main-options__btn main-options__btn--small" (click)="requestTest()">
                    <img class="main-options__image" src="/assets/icons/svg/icon-test-new.svg">
                    <p class="main-options__text" i18n="@@resquestNewTest">Solicitar nuevo <br>test COVID-19</p>
                </div>
            </ion-col>
            <ion-col size="6" class="ion-text-center" *ngIf="(true || patientService.patient?.status !== 2) && !patientHasTestAppointment">
                <div class="main-options__btn" (click)="requestTest()">
                    <img class="main-options__image" src="/assets/icons/svg/icon-test-new.svg">
                    <p class="main-options__text" i18n="@@requestTest">Solicitar <br>test COVID-19</p>
                </div>
            </ion-col>
            <ion-col size="6" class="ion-text-center" *ngIf="!patientHasTestAppointment">
                <div class="main-options__btn" (click)="goToAutotest()" >
                    <img class="main-options__image" src="/assets/icons/svg/icon-autotest.svg">
                    <p class="main-options__text" i18n="@@autotest">Autoevaluación <br>COVID-19</p>
                </div>
            </ion-col>
            <ion-col size="6" class="ion-text-center">
                <div class="main-options__btn" (click)="goToTracking()">
                    <img class="main-options__image" src="/assets/icons/svg/icon-seguimiento.svg">
                    <p class="main-options__text" i18n="@@tracking">Seguimiento <br>de tu salud</p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- <div *ngIf="patientHasTestAppointment" class="appointment-info">
        <div><img src="{{icon}}" class="appointment-info-icon filter-black"></div>
        <div style="width: 75%;"><span [innerHTML]="appointmentDescriptionLine1"></span><span *ngIf="appointmentDescriptionLine2 != null" [innerHTML]="'<br />' + appointmentDescriptionLine2"></span></div>
    </div> -->
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <div (click)="goToCoronavirusInfo()" class="info-link" expand="block">
                    <img class="button-icon filter-black" src="/assets/icons/svg/icon-info.svg">
                    <ng-container i18n="@@coronavirusInfoButton">Información sobre el coronavirus</ng-container>
                </div>
            </ion-col>
            <ion-col size="12">
                <a href="javascrip:void(null);" (click)="share()" class="share-link"><img class="button-icon filter-green" src="/assets/icons/svg/whatsapp.svg"><ng-container i18n="@@shareButton">{{getSettingsText()}}</ng-container></a>
            </ion-col>


        </ion-row>
    </ion-grid>
</ion-content>
