<corona-header [showMenu]="true"></corona-header>
<ion-content class="home-content">
    <div class="home-container">
        <div class="home-top">
            <div class="result" [ngClass]="getClassStatus()">
                <div class="result__col-qr" *ngIf="settings.identifierQR">
                    <qrcode class="result__qr" [colorDark]="getColorStatus()" [elementType]="'img'" [qrdata]="qrCodeId"></qrcode>
                </div>
                <div class="result__col-texts">
                    <p class="result__title" i18n="@@identity">Identificación</p>
                    <p class="result__name">{{ patientName }}</p>
                    <p class="result__title" i18n="@@results">Resultado COVID-19</p>
                    <h3 class="result__status">{{ getTextStatus() }}</h3>
                    <p class="result__vigente" i18n="@@note" *ngIf="patientService.patient?.status === STATUS.INFECTION_SUSPECTED">* Protocolo vigente de Salud Pública</p>
                </div>
            </div>

            <!-- NO INMUNE -->
            <ng-container *ngIf="patientService.patient?.status !== STATUS.IMMUNE" >
                <div  class="appointment"  *ngIf="false"><!-- este caso es cuando es ambulancia -->
                    <img src="/assets/icons/svg/icon-ambulancia.svg" class="appointment__icon filter-black">
                    <p class="appointment__text" i18n="@@ambulanceontheway">Ambulancia en camino.<br> Llegará en <strong>25 min</strong>. </p>
                </div>

                <div class="appointment" *ngIf="patientHasTestAppointment"><!-- este caso es cuando es cita otorgada -->
                    <img src="/assets/icons/svg/icon-cita.svg" class="appointment__icon filter-black">
                    <p class="appointment__text">
                        <ng-container i18n="@@appointment">
                            <span [innerHTML]="appointmentDescriptionLine1"></span><span *ngIf="appointmentDescriptionLine2 != null" [innerHTML]="'<br />' + appointmentDescriptionLine2"></span>
                        </ng-container>
                    </p>
                </div>


                <!-- PENDIENTE -->
                <div  class="appointment" *ngIf="false"><!-- este caso es cuando es cita solicitada -->
                    <img src="/assets/icons/svg/icon-cita.svg" class="appointment__icon filter-black">
                    <p class="appointment__text" i18n="@@appointmentRequested">Has solicitado una cita, próximamente te haremos llegar el horario y lugar de tu cita para el test COVID-19</p>
                </div>

                <div class="main-options">
                    <div *ngIf="settings.home.moduleHome && leaveStatus == 2" class="main-options__btn main-options__btn--volver" (click)="setAtHome()">
                        <img class="main-options__image" src="/assets/icons/svg/icon-volver-sm.svg">
                        <p class="main-options__text" i18n="@@leaveHome">Volver a casa</p>
                        <p class="main-options__btn-salido"><ng-container i18n="@@outto">He salido hace</ng-container> {{ hoursOutsideHome(leaveRequest?.outOfHomeTimestamp)}}</p>
                    </div>
                    <div class="main-options__btn main-options__btn--no-link" *ngIf="settings.home.moduleHome && leaveStatus !== 2 && patientService.patient?.status == STATUS.UNINFECTED">
                        <img class="main-options__image" src="/assets/icons/svg/icon-salir-sm.svg">
                        <p class="main-options__text" i18n="@@canGoHome">Puedes salir <br>de casa</p>
                    </div>
                    <div class="main-options__btn" (click)="goToConfirmationRequestLeaveHome()" *ngIf="settings.home.moduleHome && leaveStatus !== 2 && patientService.patient?.status !== STATUS.UNINFECTED">
                        <img class="main-options__image" src="/assets/icons/svg/icon-salir-sm.svg">
                        <p class="main-options__text" i18n="@@leaveHome">Salir <br>de casa</p>
                    </div>
                    <div class="main-options__btn main-options__btn--con-small" *ngIf="false && settings.home.moduleRequestTest && patientService.patient?.status === STATUS.UNINFECTED">
                        <div class="main-options__btn main-options__btn--small">
                            <img class="main-options__image" src="/assets/icons/svg/icon-resultado.svg">
                            <p class="main-options__text" i18n="@@resultsTest">Ver resultado <br>de test COVID-19</p>
                        </div>
                        <div class="main-options__btn main-options__btn--small" (click)="requestTest()">
                            <img class="main-options__image" src="/assets/icons/svg/icon-test-sm.svg">
                            <p class="main-options__text" i18n="@@resquestNewTest">Solicitar nuevo <br>test COVID-19</p>
                        </div>
                    </div>
                    <div *ngIf="settings.home.moduleRequestTest && ((patientService.patient?.status !== STATUS.INFECTED) || (settings.home.moduleHome && leaveStatus !== 2 && patientService.patient?.status !== STATUS.UNINFECTED))" class="main-options__btn" (click)="requestTest()" [ngClass]="{'main-options__btn--disabled' : patientService.patient?.status === STATUS.INFECTED}">
                        <img class="main-options__image" src="/assets/icons/svg/icon-test-sm.svg">
                        <p class="main-options__text" i18n="@@requestTest">Solicitar <br>test COVID-19</p>
                    </div>
                    <div *ngIf="settings.home.moduleAutoTest" class="main-options__btn" (click)="goToAutotest()" >
                        <img class="main-options__image" src="/assets/icons/svg/icon-autotest-sm.svg">
                        <p class="main-options__text" i18n="@@autotest">Autoevaluación <br>COVID-19</p>
                    </div>
                    <div  *ngIf="settings.home.moduleFollowingUp" class="main-options__btn" (click)="goToFollowingUp()">
                        <img class="main-options__image" src="/assets/icons/svg/icon-seguimiento-sm.svg">
                        <p class="main-options__text" i18n="@@followingup">Seguimiento <br>de tu salud</p>
                    </div>
                </div>
                <div *ngIf="showSendContactInformationMenu" class="alert-info" (click)="uploadContactsAndShowThanksModal()">
                    <img class="alert-info__icon filter-white" src="/assets/icons/svg/icon-bluetooth.svg">
                    <span class="alert-info__badge">{{contactsCount}}</span>
                    <p class="alert-info__text" i18n="@@coronavirusSendInfo">
                        AUTORIZA AVISAR DE FORMA ANÓNIMA
                    </p>
                </div>

            </ng-container>
        </div>
        <div class="home-footer">
            <div (click)="goToCoronavirusInfo()" class="info-link" expand="block">
                <img class="button-icon filter-black" src="/assets/icons/svg/icon-info.svg">
                <ng-container i18n="@@coronavirusInfoButton">Información sobre el coronavirus</ng-container>
            </div>
            <p class="logo-home">
                <img *ngIf="settings.footer.logo" [src]="settings.footer.logo">
            </p>
        </div>

    </div>

</ion-content>
<ion-footer class="ion-no-border footer-shadow" #footer>
    <ion-toolbar class="footer-app" >
        <div *ngIf="enabledBluetooth" class="home-footer-ble home-footer-ble--enabled">
            <h2 class="home-footer-ble__title" i18n="@@homeBleEnabledTitle">Traceo de exposición a COVID-19 activado</h2>
            <p class="home-footer-ble__text" i18n="@@homeBleEnabledText">Tu móvil no compartirá con quién has estado cerca</p>
        </div>
        <div *ngIf="!enabledBluetooth" class="home-footer-ble home-footer-ble--disabled" (click)="clickEnabledBluetooth()">
            <h2 class="home-footer-ble__title" i18n="@@homeBleDisabledTitle">Bluetooth desactivado</h2>
            <p class="home-footer-ble__text" i18n="@@homeBleDisabledText">Actívalo para que funcione el traceo anónimo</p>
        </div>
    </ion-toolbar>
</ion-footer>
