.result{
  $result: &;
  
  &__qr{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  &__title{
    font-size: 12px;
    line-height: 16px;
    color: #9b9b9b;
    font-weight: 300;
    margin: 0;
  }
  &__name{
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin: 0 0 12px 0 ;
  }
  &__status{  
    font-weight: bold;
    margin: 0;
    line-height: 1;
    font-size: 12px;
    line-height: 16px;    
  }

  &--quarentine{
    #{ $result }{
      &__status{
        color: #ffca08;
        font-size: 16px;
      }
    }
  }
  &--infected{
    #{ $result }{
      &__status{
        color: #c80f2e;
        font-size: 16px;
        text-transform: uppercase;
      }
    }
  }
  &--ok{
    #{ $result }{
      &__status{
        color: #61bc7c;  
        font-size: 16px;
        text-transform: uppercase;
      }
    }
  }
}
.qrcode {
  text-align: center !important;

  canvas {
    width: 100% !important;
    height: 100% !important;
    max-width: 400px;
    max-height: 400px;
  }

}


.main-options{
  &__btn{
    height: 100%;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    &--no-link{
      border-radius: 0;
      box-shadow: none;
    }
    &--small{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      &:nth-child(n+2){
        margin-top: 12px;
      }
      .main-options__image{
        width: 24%;
        max-width: 30px;
        margin-right: 8px;
        height: auto;
      }
      .main-options__text{
        font-size: 12px;
        line-height: 16px;
      }
    }
    &-volver{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 4px;
      &:nth-child(n+2){
        margin-top: 12px;
      }
      .main-options__image{
        width: 40%;
        max-width: 30px;
        margin-right: 8px;
        height: auto;
      }
      .main-options__text{
        width: 60%;
        font-size: 12px;
        line-height: 16px;
      }
    }
    &-camino{
      font-size: 10px;
      line-height: 12px;
      text-align: left;
      color: #666;
      &-a{
        display: block;
      }
      &-donde{
        color: #000;  
        display: block;      
      }
      &-tiempo{
        display: block;        
      }
    }
  }
  &__text{
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin: 4px 0 0 0;
  }
  &__image{
    width: 60%;
    max-width: 120px;
    height: auto;
  }
}

.appointment{
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #f5f5f5;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: flex-start;
  &__icon{
    width: 24px;
    margin: 0 12px 0 0;
  }
  &__text{
    font-size: 14px;  
    line-height: 16px;   
    font-weight: 300;
    margin: 0; 
  }
  &__link, &__link:hover{
    color: #000;
  }
}

.info-link {
  font-size: 14px;
  display: flex;
  align-items: center;
  img{
    display: block;
    margin: 0 10px 0 0;
    width: 14px;
  }
}

.share-link {
  font-size: 14px;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  img{
    display: block;
    margin: 0 10px 0 0;
    width: 14px;
  }
}