<ion-header>
    <ion-toolbar class="header-app">
        <ion-buttons class="header__menu" slot="start">
            <ion-menu-button class="menu" (click)="openMenu()" autoHide="false"></ion-menu-button>
        </ion-buttons>
        <div i18n="@@headerTitleLine" class="header-app__title"><strong>OPEN</strong> CORONAVIRUS</div>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col></ion-col>
            <ion-col size="8">
                <div class="auth-code-label" i18n="@@authorizationCodeLabel">Código de autorización</div>
                <div class="patient-name">{{patientName}}</div>
                <qr-code></qr-code>
                <div *ngIf="leaveStatus == 2" class="leave-status"><ng-container i18n="@@leaveReasonLabel">Motivo</ng-container>: <span class="leave-reason">{{leaveReason}}</span></div>
                <ion-button *ngIf="leaveStatus == null || leaveStatus == 1" (click)="goToRequestLeaveHome()" class="light-button" expand="block">
                    <div slot="start"><img class="button-icon filter-black" src="/assets/icons/svg/icon-salir-casa.svg">&nbsp;&nbsp;&nbsp;</div>
                    <ng-container i18n="@@ImGoingLeaveHomeButton">Voy a salir de casa</ng-container></ion-button>
                <ion-button *ngIf="leaveStatus == 2" (click)="setAtHome()" class="light-button" expand="block">
                    <div slot="start"><img class="button-icon filter-black" src="/assets/icons/svg/icon-volver-casa.svg">&nbsp;&nbsp;&nbsp;</div>
                    <ng-container i18n="@@IWentBackToHomeMenuLabel">He vuelto a casa</ng-container>
                </ion-button>
            </ion-col>
            <ion-col></ion-col>
        </ion-row>
    </ion-grid>
    <div *ngIf="patientHasTestAppointment" class="appointment-info">
        <div><img src="{{icon}}" class="appointment-info-icon filter-black"></div>
        <div style="width: 75%;"><span [innerHTML]="appointmentDescriptionLine1"></span><span *ngIf="appointmentDescriptionLine2 != null" [innerHTML]="'<br />' + appointmentDescriptionLine2"></span></div>
    </div>
    <ion-button *ngIf="!patientHasTestAppointment" (click)="goToAutotest()" color="dark" expand="block"><div slot="start"><img class="button-icon filter-white" src="/assets/icons/svg/icon-test.svg">&nbsp;&nbsp;&nbsp;</div>
        <ng-container i18n="@@autotestButton">¿Tengo el coronavirus?</ng-container></ion-button>
    <ion-button (click)="goToCoronavirusInfo()" class="light-button" expand="block"><div slot="start"><img class="button-icon filter-black" src="/assets/icons/svg/icon-info.svg">&nbsp;&nbsp;&nbsp;</div>
        <ng-container i18n="@@coronavirusInfoButton">Información sobre el coronavirus</ng-container></ion-button>
    <div class="share-link"><a href="javascrip:void(null);" (click)="share()"><img class="button-icon filter-green" src="/assets/icons/svg/whatsapp.svg">&nbsp;&nbsp;&nbsp;<ng-container i18n="@@shareButton">Compartir App para luchar juntos</ng-container></a></div>
</ion-content>
