/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "theme/fonts";
@import "theme/floating-labels";

* {
  font-family: 'Signika', sans-serif !important;
  font-weight: 300;
}

.button-icon {
  width: 25px;
  height: 25px;
}

ion-content, ion-toolbar, ion-header{
  --background:	#ffffff;
  --color:	#3d3d3d;
  --padding-bottom: 16px;
  --padding-end: 16px;
  --padding-start: 16px;
  --padding-top: 16px;

  &.modal-header{
    --padding-bottom: 0;
    --padding-end: 10px;
    --padding-start: 0;
    --padding-top: 0;
    --border-width: 0!important;
  }
}
.modal-text__mb-big{
  margin-bottom: 80px;
}
.btn{
  display: flex;
  width: 100%;
  padding: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: #000000;
  outline: none;

  @media (min-width: 321px) {
    font-size: 18px;
    line-height: 22px;
  }

  &--secondary{
    background-color: #f5f5f5;
    color: #000000;
  }

  &--min{
    text-transform: initial;
    font-weight: 400;
  }

  img{
    margin-right: 10px;
  }

  &:nth-child(n+1){
    margin-top: 8px;
  }
}

.menu-icon {
  --color: white;
  position: absolute;
}

.header-app {
  $header: &;
  --background: #c80f2e;

  &__title{
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    text-align: center;

    @media (min-width: 321px) {
      font-size: 24px;
      line-height: 27px;
    }

    strong{
      font-weight: 400;
    }
  }
  &--modal{
    --background: #fff ;
    #{ $header }{
      &__title{
        color: #000;
      }
    }
  }
}

.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(171deg) brightness(101%) contrast(102%);
}

.filter-black {
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(171deg) brightness(101%) contrast(200%);
}

.filter-green {
  filter: invert(62%) sepia(20%) saturate(699%) hue-rotate(85deg) brightness(94%) contrast(88%);
}

.footer-buttons-container {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.footer-labels-container {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 20px;

  @media (min-width: 321px) {
    font-size: 24px;
    line-height: 27px;
  }
}

.emoji-thinking-face::before  {
  content: "\01F914";
}


.screen-title{
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  margin: 0 0 16px 0;

  @media (min-width: 321px) {
    font-size: 28px;
  }

  &--mb0{
    margin-bottom: 0;
  }
}
.screen-subtitle{
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  margin: 0 0 4px 0;

  @media (min-width: 321px) {
    font-size: 20px;
    line-height: 24px;
  }

  &--mb-md{
    margin-bottom: 24px;
  }
}
.screen-text{
  font-size: 14px;
  line-height: 1.43;
  margin: 0 0 10px 0;
  @media (min-width: 321px) {
    font-size: 18px;
    line-height: 20px;
  }
  &--mb-big{
    margin-bottom: 80px;
  }
  &--mb-md{
    margin-bottom: 24px;
  }
  &--mt-md{
    margin-top: 32px!important;
  }
  &--flex{
    display: flex;
  }
}
.circle-icon{
  margin: 16px 0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 32px;
  background: #f3f3f3;
  color: black;
  img{
    height: 38px;
    width: auto;
  }
  & + &{
    margin-left: 8px;
  }
}
.modal-text{
  h1{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    margin: 32px 0 16px 0;

    @media (min-width: 321px) {
      font-size: 28px;
    }

    &:first-child{
      margin-top: 0;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  h2{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    margin: 32px 0 8px 0;

    @media (min-width: 321px) {
      font-size: 18px;
      line-height: 22px;
    }

    &:first-child{
      margin-top: 0;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  h3{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.43;
    margin: 20px 0 8px 0;

    @media (min-width: 321px) {
      font-size: 18px;
      line-height: 20px;
    }

    &:first-child{
      margin-top: 0;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  p, li{
    font-size: 14px;
    line-height: 1.43;
    margin: 8px 0 16px 0;

    @media (min-width: 321px) {
      font-size: 18px;
      line-height: 20px;
    }

    &:first-child{
      margin-top: 0;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }

}
.recuadro-info{
  border-radius: 12px;
  background-color: #f5f5f5;
  padding: 16px;

  &__title{
    font-size: 12px;
    font-weight: 300;
    line-height: 1.17;
    margin: 0;
    @media (min-width: 321px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
  &__text{
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    margin: 0 0 16px 0;
    @media (min-width: 321px) {
      font-size: 18px;
      line-height: 20px;
    }

    &:last-child{
      margin-bottom: 0;
    }
  }
  &__status{
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1;
    margin: 0 0 16px 0;
    @media (min-width: 321px) {
      font-size: 18px;
      line-height: 20px;
    }

    &:last-child{
      margin-bottom: 0;
    }


    &:before{
      content: '';
      display: block;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      background-color: #000000;
      margin: 0 8px 0 0;
    }

    &--quarentine{
      &:before{
        background-color: #ffca08;
      }
    }
    &--infected{
      &:before{
        background-color: #c80f2e;
      }
    }
    &--ok{
      &:before{
        background-color: #61bc7c;
      }
    }
    &--inmune{
      &:before{
        background-color: #00AAE4;
      }
    }
  }
}

.message{
  padding: 6px 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  margin: 0 0 8px 0;
  @media (min-width: 321px) {
    font-size: 18px;
    line-height: 20px;
  }

  &--error{
    color: #c80f2e;
    background-color: #fdeff3;
  }

}

.recuadro-test{
  margin: 16px 0;
  border-radius: 16px;
  padding: 16px;
  font-size: 16px;
  line-height: 1.3;

  @media (min-width: 321px) {
    font-size: 18px;
    line-height: 22px;
  }

  &--big{
    font-size: 20px;
    padding: 24px;

    @media (min-width: 321px) {
      font-size: 24px;
      line-height: 27px;
    }
  }

  &--danger{
    background-color: #fdeff3;
    color: #c80f2e;
  }
  &--alert{
    background-color :#FFFBDC;
  }
  &--ok{
    background-color: #DFEED7;
  }
  &--about{
    background-color: #f5f5f5;
    padding: 20px;
    p{
      font-size: 16px;
  
      @media (min-width: 321px) {
        font-size: 20px;
        line-height: 22px;
      }
    }
  }
  &--positivo-virus{
    background-color: #fdeff3;
    color: #c80f2e;
    text-align: center;  
    padding: 36px;
    p{
      font-size: 20px;
      line-height: 22px;

      @media (min-width: 321px) {
        font-size: 26px;
        line-height: 30px;
      } 
    }
  }
  &--negativo-virus{
    background-color: #DFEED7;
    text-align: center;  
    color: #61bc7c;
    padding: 36px;
    p{
      font-size: 20px;
      line-height: 22px;

      @media (min-width: 321px) {
        font-size: 26px;
        line-height: 30px;
      } 
    }
  }
  p{
    margin: 0 0 16px 0;
    &:last-child{
      margin-bottom: 0;
    }
  }
  ul{
    margin: 0 0 16px 0;
    padding-left: 18px;

    &:last-child{
      margin-bottom: 0;
    }

    li{
      margin: 0 0 16px 0;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .recuadro-title{
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 16px 0;

    @media (min-width: 321px) {
      font-size: 18px;
      line-height: 22px;
    }

    &:last-child{
      margin-bottom: 0;
    }
    &--big{
      font-size: 24px;

      @media (min-width: 321px) {
        font-size: 28px;
        line-height: 30px;
      }
    }
  }

}
.resultado-title{
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  margin: 0 0 8px 0;
  @media (min-width: 321px) {
    font-size: 18px;
    line-height: 20px;
  }

  &:last-child{
    margin-bottom: 0;
  }
  &--mb-big{
    margin-bottom: 24px;
  }
}
.resultado-text{
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  margin: 0 0 16px 0;
  @media (min-width: 321px) {
    font-size: 18px;
    line-height: 20px;
  }

  &:last-child{
    margin-bottom: 0;
  }

  &--separa{
    margin-bottom: 24px;
  }
}
.resultado-list{
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  margin: 0 0 16px 0;
  padding-left: 18px;
  @media (min-width: 321px) {
    font-size: 18px;
    line-height: 20px;
  }

  &:last-child{
    margin-bottom: 0;
  }

  li{
    margin: 0 0 16px 0;

    &:last-child{
      margin-bottom: 0;
    }
  }
}

.cita-title{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  margin: 24px 0 16px 0;

  @media (min-width: 321px) {
    font-size: 18px;
    line-height: 22px;
  }
}
.cita-casa-title{
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  margin: 24px 0 0 0;

  @media (min-width: 321px) {
    font-size: 18px;
    line-height: 22px;
  }
}
.cita-casa-dir{
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  margin: 0 0 24px 0;

  @media (min-width: 321px) {
    font-size: 18px;
    line-height: 22px;
  }
}
.cita-lugar{
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 12px;
  margin: 0 0 24px 0;

  &__title{
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    margin: 0 0 4px 0;
    @media (min-width: 321px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
  &__direccion{
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    margin: 0 0 12px 0;

    @media (min-width: 321px) {
      font-size: 18px;
      line-height: 22px;
    }
  }
  &__como{
    margin: 8px 0 0 0;
  }
}
.cita-ambulance{
  text-align: center;
  margin: 48px 0;
  img{
    display: inline-block;
    width: 40%;
    height: auto;
    max-width: 400px;
  }
}
.toast-class{
  font-size: 16px;
}

.footer-shadow{

  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);

}