<ion-header translucent>
  <ion-toolbar class="modal-header">
    <ion-buttons slot="end">
      <ion-icon size="large" (click)="backToHome()" name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="modal-text" fullscreen>
  <h1 class="screen-title" i18n="@@requestLeaveHomeTitle">¿Vas a salir de casa?</h1>
  <p class="screen-text" i18n="@@requestLeaveHomeDescriptionLine1">Estamos en estado de alerta.</p>
  <p class="screen-text" i18n="@@requestLeaveHomeDescriptionLine2">Selecciona el motivo por el que vas a salir:</p>

  <gray-option *ngFor="let leaveReason of leaveRequestService.leaveReasons;" (click)="requestLeaveHome(leaveReason.id)" [icon]="leaveReason.icon != null?'/assets/icons/svg/' + leaveReason.icon:null" [text]="leaveReason.label"></gray-option>
          
</ion-content>
