.header-app {
  --background: #c80f2e url(/assets/icons/svg/solo-icono.svg) no-repeat right center;
  &__title{
    font-size: 14px;
    font-weight: 300;
    --color: #fff;

    strong{
      font-weight: 700;
    }
  }

}