.result{
  $result: &;  
  border-radius: 8px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  padding: 12px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 32px 0;


  &__col{
    &-qr{
      width: calc(40% - 12px);

    }
    &-texts{
      width: calc(60% - 12px);

    }
  }
  
  &__qr{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  &__title{
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    margin: 0;
  }
  &__name{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 12px 0 ;
  }
  &__text{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 12px 0 ;
    a{
      color: #000;
      text-decoration: underline;
    }
  }
  &__status{  
    font-weight: bold;
    margin: 0;
    line-height: 1;  
    font-size: 12px;
    line-height: 14px;    
    text-transform: uppercase;
    text-align: center;
  }

  &--quarentine{
    #{ $result }{
      &__status{
        color: #ffca08;
        font-size: 12px;
      }
    }
  }
  &--infected{
    #{ $result }{
      &__status{
        color: #c80f2e;
        text-transform: uppercase;
      }
    }
  }
  &--ok{
    #{ $result }{
      &__status{
        color: #61bc7c;  
        text-transform: uppercase;
      }
    }
  }


  &__container{
    padding: 0 12px;

  }
  &__box{
    margin: 10px 0 20px 0;
    padding: 15px;
    border-radius: 12px;
    background-color: #f5f5f5;
    font-size: 12px;
    color: #3d3d3d;

    &-item{
      display: flex;
      margin-bottom: 8px;

      &:last-child{
        margin-bottom: 0;
      }
    }
    &-title{
      margin: 0;
      font-weight: 300;
    }
    &-value{
      margin: 0 0 0 8px;
    }
  }
  &__map{
    display: block;
    width: 100%;
    margin: 20px 0;
    font-size: 14px;
    color: #000000;
    padding: 12px 12px 12px 40px;
    border-radius: 16px;
    border: solid 2px #000000;
    background: url(/assets/icons/svg/icon-ubicacion.svg) no-repeat 15px center;
    background-size: 13px 17px;
  }

  &__timeline{
    &-item{
      position: relative;
      display: block;
      margin: 0;
      padding: 0 0 24px 30px;
      font-size: 12px;
      font-weight: 300;
      line-height: 1.33;


      &:before{
        content: '';
        position: absolute;
        display: block;
        left: 7px;
        top: 8px;
        bottom: 0;
        border-left: 1px solid #000;
        z-index: 1;
      }
      &:after{
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        border: 1px solid #000;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: #fff;
        z-index: 2;
      }

      &:last-child{
         &:before{
           display: none;
         }
      }

      &-activity{
        margin: 0;

        &--danger{
          color: #c80f2e;
        }
      }
      &-time{
        margin: 0;
        color: #919293;

      }

    }
  }

  &__ok{
    --background: #000;
    --color: #fff;
    --text-transform: uppercase;
  }
}

.qrcode {
  text-align: center !important;

  canvas, img {
    width: 100% !important;
    height: 100% !important;
    max-width: 400px;
    max-height: 400px;
  }

}