<corona-header [showMenu]="false"></corona-header>
  <ion-content>

    <h1 class="screen-title" i18n="@@updateTitle">Actualización</h1>

    <p i18n="@@updateText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet dui vitae risus cursus ornare. Aliquam in varius magna. Quisque eu erat faucibus ex facilisis imperdiet eu et arcu. Duis sit amet metus non risus aliquam accumsan euismod vitae est. Nulla a nisi et augue ultrices eleifend. Phasellus eleifend lacinia augue. Morbi scelerisque quis est sed hendrerit. Ut maximus eros nec purus sodales vulputate. Sed hendrerit nunc a orci tincidunt, et viverra purus faucibus. Mauris id dolor non ante dictum condimentum. Vestibulum diam diam, auctor ut condimentum pulvinar, euismod ac nisl. Vestibulum eu lectus felis. In vel finibus nisl. Nullam hendrerit dapibus metus ut bibendum. Proin vulputate eros eget diam efficitur volutpat nec sit amet quam. Cras vel quam tortor.</p>

    <button class="btn" i18n="@@updateGoUpdate" (click)="goUpdate()">Actualizar</button>
    <button class="btn" i18n="@@updateCancel" (click)="cancel()">No, lo hare en otro momento</button>

  </ion-content>