<form [formGroup]="loginInfoForm">
    <div class="form-row">
        <div class="form-group form-label-group">
            <input type="text" class="form-control" id="uniqueId" name="uniqueId" formControlName="uniqueId" i18n-placeholder placeholder="Identificador">
            <label for="uniqueId" i18n="@@emailLabel">Identificación del agente</label>
            <small class="error" *ngIf="uniqueId.invalid && uniqueId.touched" i18n="@@emailError">Por favor, introduce un identificador válido</small>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group form-label-group">
            <input type="text" class="form-control" id="password" name="password" formControlName="password" i18n-placeholder placeholder="Password">
            <label for="password" i18n="@@passwordLabel">Contraseña</label>
            <small class="error" *ngIf="password.invalid && password.touched" i18n="@@passwordError">Por favor, introduce una contraseña válido</small>
        </div>
    </div>
</form>
