<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="title-splash">
                    Luchemos juntos<br />contra el
                    <img class="coronavirus" src="/assets/images/coronavirus.png">
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<div class="footer-buttons-container">
    <div class="footer-labels-container">Informate, avisa y si te encuentras mal pide que te hagan el test del coronavirus</div>
    <ion-button color="dark" (click)="goToRegister()" expand="block">ENTRAR</ion-button>
</div>
