<ion-header>
    <ion-toolbar class="header-app">
        <ion-buttons slot="start">
            <ion-menu-button class="menu" (click)="openMenu()" autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title><span class="supertitle">Luchemos juntos contra el</span><br /> CORONAVIRUS</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col></ion-col>
            <ion-col size="8">
                <div class="auth-code-label">Código de autorización</div>
                <div class="patient-name">{{patientName}}</div>
                <qr-code></qr-code>
                <div *ngIf="leaveStatus == 2" class="leave-status">Motivo: <span class="leave-reason">{{leaveReason}}</span></div>
                <ion-button *ngIf="leaveStatus == null || leaveStatus == 1" (click)="goToRequestLeaveHome()" class="light-button" expand="block">
                    <div slot="start"><img class="button-icon filter-black" src="/assets/icons/svg/icon-salir-casa.svg">&nbsp;&nbsp;&nbsp;</div>
                    Voy a salir de casa</ion-button>
                <ion-button *ngIf="leaveStatus == 2" (click)="setAtHome()" class="light-button" expand="block">
                    <div slot="start"><img class="button-icon filter-black" src="/assets/icons/svg/icon-volver-casa.svg">&nbsp;&nbsp;&nbsp;</div>
                    He vuelto a casa
                </ion-button>
            </ion-col>
            <ion-col></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-toolbar class="home-footer-toolbar">
    <ion-button (click)="goToAutotest()" color="dark" expand="block"><div slot="start"><img class="button-icon filter-white" src="/assets/icons/svg/icon-test.svg">&nbsp;&nbsp;&nbsp;</div>
        ¿Tengo el coronavirus?</ion-button>
    <ion-button (click)="goToCoronavirusInfo()" class="light-button" expand="block"><div slot="start"><img class="button-icon filter-black" src="/assets/icons/svg/icon-info.svg">&nbsp;&nbsp;&nbsp;</div>
        Información sobre el coronavirus</ion-button>
    <div class="share-link"><a href="javascrip:void(null);" (click)="share()"><img class="button-icon filter-green" src="/assets/icons/svg/whatsapp.svg">&nbsp;&nbsp;&nbsp;Compartir App para luchar juntos</a></div>
</ion-toolbar>
