<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <h1 class="screen-title" i18n="@@requestTestConfirmationTitle">¿Estás seguro de pedir el test del coronavirus?</h1>
                <p class="screen-text screen-text--mb-big" i18n="@@requestTestConfirmationDescription">Te daremos cita para que vayas a realizar el test.</p>
                <button class="btn btn--min" (click)="requestTest()" i18n="@@requestTestButton">Sí, solicitar test</button>
                <button class="btn btn--secondar ybtn--min" (click)="backToHome()" i18n="@@backButton">Volver</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
