<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="title-splash" i18n="@@introductionHeader">
                    Luchemos juntos<br />contra el
                    <img class="coronavirus" src="/assets/images/coronavirus.png">
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<div class="footer-buttons-container">
    <div class="footer-labels-container" i18n="@@introductionTip">App de control sanitario</div>
    <ion-button color="dark" (click)="enter()" expand="block" i18n="@@enter">ENTRAR</ion-button>
</div>
