<ion-header translucent>
  <ion-toolbar class="modal-header">
    <ion-buttons slot="end">
      <ion-icon size="large" (click)="backToHome()" name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="modal-text" fullscreen>
  <h1 class="screen-title" i18n="@@requestLeaveHomeConnfirmationNoTestTitle">¿Vas a salir de casa?</h1>
  <div class="recuadro-test recuadro-test--alert">
    <p i18n="@@requestLeaveHomeConnfirmationNoTestText">
      Recuerda que puedes salir de casa de forma permanente y sin informar pidiendo el test del COVID-19 y si no tienes la infección podrás volver a la normalidad
    </p>
  </div>
  <p class="resultado-text">
    <button class="btn" (click)="requestTest()" expand="block" i18n="@@requestTestMenuLabel">SOLICITAR TEST COVID-19</button>
    <button class="btn btn--secondary btn--min" (click)="goToRequestLeaveHome()" expand="block" i18n="@@noMaybeInANotherTime">NO, GRACIAS. AHORA VOY A SALIR DE CASA</button>
  </p>
</ion-content>