<ion-header translucent>
  <ion-toolbar class="modal-header">
    <ion-buttons slot="end">
      <ion-icon size="large" (click)="backToHome()" name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="modal-text" fullscreen>
  <h1 class="screen-title" i18n="@@leaveCustomReasonFormTitle">Autodeclaración de salida</h1>
  <ng-container i18n="@@leaveCustomReasonFormDescription">
    <p class="screen-text">Yo, <strong>{{patient?.firstName}} {{patient?.lastName}}</strong> nacido el <strong>{{patient?.birthday | date:'dd/MM/yyyy'}}</strong> con documento de identificación nº<strong>{{patient?.documentNumber}}</strong> y con residencia en calle <strong>{{patient?.street}} ({{patient?.postalCode}})</strong> consciente de las consecuencias penales previstas en caso de falsedad en documento público oficial (art 392 c.p.)</p>
    <h2 class="screen-subtitle">DECLARA, BAJO SU EXCLUSIVA RESPONSABILIDAD</h2>
    <p class="screen-text">De ser <strong>consciente de las medidas de contención del contagio</strong> referidas en el artículo 7 del Real Decreto 463/2020, de 14 de marzo, por el que se declara el estado de alarma para la gestión de la situación de crisis sanitaria ocasionada por el COVID-19 concernientes <strong>a la limitación de la libertad de circulación de las personas por las vías de uso público;</strong></p>
    <p class="screen-text"> <strong>De no estar bajo las medidas de cuarentena por tenido</strong> infección aguda en virus COVID-19;</p>
    <p class="screen-text"><strong>De ser consciente de las sanciones previstas en el artículo 20 del Real Decreto 463/2020, de 14 de marzo, por el que se declara el estado de alarma para la   gestión de la situación de crisis sanitaria ocasionada por el COVID-19</strong>, en caso de incumplimiento o resistencia a las órdernes de las autoridades competentes;</p>
    <p class="screen-text">Que el traslado tiene la finalidad de:</p>
    <ul>
      <li>Adquisición de alimentos, productos farmacéuticos y de primera necesidad.</li>
      <li>Asistencia a centros, servicios y establecimientos sanitarios.</li>
      <li>Desplazamiento al lugar de trabajo para efecturar su prestación laboral, profesional o empresarial.</li>
      <li>Retorno al lugar de residencia habitual.</li>
      <li>Asistencia y cuidado a mayores, menores, dependientes, personas con discapacidad o personas expecialmente vulnerables.</li>
      <li>Desplazamiento a entidades financieras y seguros.</li>
      <li>Por causa de fuerza mayor o situación de necesidad</li>
    </ul>
    <p class="screen-text">El {{now | date:'dd/MM/yyyy'}} a las {{now | date:'HH:mm'}}</p>
  </ng-container>
  <button class="btn" (click)="requestLeaveHome()" i18n="@@okButton">OK</button>
  <button class="btn btn--secondary" (click)="goBack()" i18n="@@backButton">Volver</button>

</ion-content>