<ion-header translucent>
  <ion-toolbar class="modal-header">
    <ion-buttons slot="end">
      <ion-icon size="large" (click)="dismissModal()" name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="modal-text" fullscreen [ngSwitch]="type">

  <ng-container *ngSwitchCase="'push'">
    <h1 class="screen-title" i18n="@@permissionsModalTitlePush">Activa los permisos necesarios para poder utilizar la aplicación</h1>
    <p class="screen-text">
      <span class="circle-icon"><img class="filter-black" src="/assets/icons/svg/icon-campana.svg"></span>
    </p>
    <h2 class="screen-subtitle" i18n="@@permissionsModalTitlePushNotifications">Notificaciones push</h2>
    <p class="screen-text" i18n="@@permissionsModalDescriptionPushNotifications">Las utilizaremos para enviarte información relevante, resultados de tu test de COVID-19 y líneas de actuación.</p>
  </ng-container>
  <ng-container *ngSwitchCase="'gps'">
    <h1 class="screen-title" i18n="@@permissionsModalTitleGeolocation">Activa los permisos necesarios para poder utilizar la aplicación</h1>
    <p class="screen-text">
      <span class="circle-icon"><img class="filter-black" src="/assets/icons/svg/icon-localizacion.svg"></span>
    </p>
    <h2 class="screen-subtitle" i18n="@@permissionsModalTitleGeolocation">Geolocalización</h2>
    <p class="screen-text" i18n="@@permissionsModalDescription1Geolocation">Necesitamos saber dónde te encuentras para poder ofrecerte las mejores medidas preventivas y médicas.</p>
    <p class="screen-text" i18n="@@permissionsModalDescription2Geolocation">Compartiendo tu información ayudarás a frenar el COVID-19.</p>
  </ng-container>
  <ng-container *ngSwitchCase="'bluetooth'">
    <h1 class="screen-title" i18n="@@permissionsModalTitleBluetooth">Las autoridades te solicitan que compartas tus datos</h1>
    <p class="screen-text">
      <span class="circle-icon"><img class="filter-black" src="/assets/icons/svg/icon-bluetooth.svg"></span>
    </p>
    <h2 class="screen-subtitle" i18n="@@permissionsModalTitleBluetooth">Enviar datos adquiridos por Bluetooth</h2>
    <p class="screen-text" i18n="@@permissionsModalDescription1Bluetooth">Ante el positivo de COVID-19  que has dado en el test diagnóstico, las autoridades piden que des autorización para enviar los datos de las personas con las que te has cruzado en una distancia de posible riesgo que actualmente están sólo en tu móvil.</p>
    <p class="screen-text" i18n="@@permissionsModalDescription2Bluetooth">De este modo estarás ayudando y protegiendo a muchas personas.
      ¡A este virus lo ganamos entre todos!</p>
  </ng-container>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="footer-app">
    <ng-container [ngSwitch]="type">
      <button *ngSwitchCase="'bluetooth'" class="btn" (click)="activatePermission()" i18n="@@activate">ENVIAR DATOS Y AUTORIZAR SU USO</button>
      <button *ngSwitchDefault class="btn" (click)="activatePermission()" i18n="@@activate">ACTIVAR</button>
    </ng-container>

  </ion-toolbar>
</ion-footer>