.menu{
  &__separator {
    border-bottom: 1px solid lightgray;
    padding-bottom: 16px;
  }

  &__header{
    display: flex;
    align-items: center;
    margin: 0 16px;
    padding: 24px 0 16px 0;  

    .circle{
      margin-right: 10px;
    } 
      
    &-name {
      font-size: 16px;

      @media (min-width: 321px) {
        font-size: 18px;
        line-height: 22px;
      }    
    }

  }

  &__item {
    display: flex;
    align-items: center;
    padding-top: 16px;

    img {
      margin-right: 16px;
      @media (min-width: 321px) {
        width: 30px;
        height: auto;
      }
    }

    &--sm{
      font-size: 14px;
      line-height: 16px;
      @media (min-width: 321px) {
        font-size: 18px;
        line-height: 22px;
      }

    }
    &--xs{
      color: #9b9b9b;
      padding-left: 40px;
      text-decoration: underline;
      font-size: 14px;
      @media (min-width: 321px) {
        font-size: 18px;
        line-height: 22px;
      }    
    }
  }
}
