<ion-menu class="menu" side="start" menuId="menu" contentId="main">
    <ion-header>
        <div class="menu__header menu__separator" (click)="goToHome()">
            <avatar class="menu__header-circle" [userName]="userName"></avatar>
            <div class="menu__header-name">{{userName}}</div>
        </div>
    </ion-header>
    <ion-content>
        <div>
            <div class="menu__item menu__item--sm" (click)="goToIdentity()">
                <img class="button-icon filter-black" src="/assets/icons/svg/icon-info.svg">
                <ng-container i18n="@@coronavirusIdentityUserMenuLabel">Subir diagnóstico</ng-container>
            </div>
        </div>
    </ion-content>
    <ion-toolbar>
        <div>
            <div class="menu__item" (click)="goToMyInfo()">
                <img class="button-icon filter-black" src="/assets/icons/svg/icon-usuario.svg">
                <ng-container i18n="@@myInfoMenuLabel">Mis datos</ng-container>
            </div>
            <div class="menu__item menu__item--sm" (click)="goExit()">
                <img class="button-icon filter-black" src="/assets/icons/svg/icon-salir-casa.svg">
                <ng-container i18n="@@exitMenuLabel">Salir</ng-container>
            </div>
        </div>
    </ion-toolbar>
</ion-menu>

<!-- the main content -->
<ion-router-outlet class="app-router-outlet" id="main"></ion-router-outlet>
