.gray-option {
  font-size: 16px;
  align-items: center;
  color: black;
  padding: 20px;
  margin: 10px 0;
  font-weight: 300;  
  border: solid 2px #e6e6e6;
  background-color: #f5f5f5;
  border-radius: 16px;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__icon {
    height: auto;
    width: 35px;
    padding-right: 10px;
  }
  &__text:nth-child(2){
    width: calc(100% - 45px); 
  }

  &__image {
    width: 100%;
    height: auto;
  }  

  .subtitle {
    padding-top: 20px;
  }
}