.gray-option {
  font-size: 14px;
  align-items: center;
  margin-left: 0px;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  text-align: left !important;
  vertical-align: middle;
  word-break: keep-all;
  white-space: normal;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  background-color: #f3f3f3;
  border-radius: 15px;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__icon {
    height: auto;
    width: 35px;
    padding-right: 10px;
  }
  &__text:nth-child(2){
    width: calc(100% - 45px); 
  }

  &__image {
    width: 100%;
    height: auto;
  }  

  .subtitle {
    padding-top: 20px;
  }
}